Flask==3.0.3
flask-cors==4.0.1
Werkzeug==3.0.3
gunicorn==21.2.0

requests==2.32.3
python-dotenv==1.0.1
instaloader==4.15.1

numpy==1.26.4
pandas==2.2.2
scipy==1.13.1

scikit-learn==1.8.0
joblib==1.5.3

xgboost==2.1.1

tensorflow==2.19.0
tensorboard==2.19.0
protobuf==4.25.3
h5py==3.11.0
