Flask==3.1.2
flask-cors==6.0.2
Werkzeug==3.1.5
gunicorn==23.0.0
instaloader==4.15.1
joblib==1.5.3
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
scipy==1.13.1
xgboost==2.1.1
tensorflow==2.19.0
tensorboard==2.19.0
protobuf==5.29.5
h5py==3.12.1
python-dotenv==1.0.1
requests==2.32.3
